@media (min-width:1900px) {
    .scrollers{
        width:50%;
    }
    .collapsibles{
        width:60%;
        left:50%;
        transform: translate(-50%,0);
        position: relative;
    }
    .collapsible{
        width:100%;
    }
    .promotionalvideo{
        width:60%;
        position: relative;
        left: 50%;
        transform: translate(-50%,0);
    }
    .ytvid{
        width:100%;
    }
    .content{
        width:100%;
    }
    .itineraries{
        width: 60%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap: 30px;
        left:50%;
        transform: translate(-50%,0);
        position: relative;
    }
    .itnhead{
        font-size:35px;
    }
    .itnjpn{
        top:17%;
        position: absolute;
    }
    .itndesc{
        font-size:20px;
        width:70%;
    }
    .herologoholder{
        left:20%;
    }
    .heroinstallholder{
        right:20%;
    }
    .first{
        left:20%;
    }
    .bannerholder{
        right:20%;
    }
    .socials{
        left:20%;
    }
    .copydesc{
        left:20%;
    }
    .copyimg{
        right:20%;
    }
    .copytext{
        right:29%;
    }
}

@media (max-width:1000px) {
    .herologoholder{
        left:0;
        width:100%;
    }
    .herologo{
        top:10%;
        width:100%;
        text-align: center;
        position: absolute;
        left:50%;
        transform: translate(-50%, 0);
    }

    .parallaximpress{
        scale: 60%;
        left:50%;
        position: absolute;
    }

    .collapsibles{
        width:100%;
        left:0;
        top:20px;
        position: absolute;
        overflow:hidden;
        display: block;
    }

    .faqholder{
        width:100%;
    }

    .collapsible{
        width:100%;
    }

    .content{
        width:100%;
    }

    .visitfaq{
        left:0;
        width:100%;
        position: absolute;
    }

    .logo{
        width:100%;
        text-align: center;
    }

    .topimg{
        width:100%;
        height: 100%;
    }

    .image{
        background-size: cover;
        width:100%;
        height:100%;
    }

    .heroinstallholder{
        right:0%;
        top:60%;
        width:100%;
        height:130px;
        position: absolute;

    }
    .heroinstall{
        width:90%;
        left:50%;
        transform: translate(-50%,0);
        top:0;
        position: absolute;
    }
    .readdocs{
        text-align: center;
        left:0;
        bottom:30px;
    }
    .bannerholder{
        display:none;
    }
    .collapsibles{
        width:95%;
        left:50%;
        transform: translate(-50%,0);
        position: relative;
    }
    .collapsible{
        width:100%;
    }
    .promotionalvideo{
        width:100%;
        position: relative;
        left: 50%;
        transform: translate(-50%,0);
    }
    .ytvid{
        width:95%;
        height:240px;
    }
    .content{
        width:100%;
    }
    .contentslogan{
        font-size: 25px;
    }
    .itineraries{
        width: 100%;
        gap: 30px;
        left:50%;
        transform: translate(-50%,0);
        position: relative;
        display:none;
    }
    .itn{
        height:100px;
        width:100%;
        display:block;
    }

    .itnhead{
        font-size:25px;
    }
    .itnjpn{
        top:12%;
        position: absolute;
    }
    .itndesc{
        font-size:15px;
        width:50%;
    }
    .copydesc{
        display:none;
    }
    .copytext{
        bottom:30%;
        left:0%;
        width:45%;
    }
    .socials{
        bottom: 20%;
        left:3%;
        gap:10px;
    }
}