@font-face {
    font-family: Gilroy;
    src: url(../../Fonts/Gilroy.otf);
}

@font-face {
    font-family: Rodin;
    src: url(../../Fonts/Rodin-Medium.otf);
}

@font-face {
    font-family: Cafe;
    src: url(../../Fonts/CafeKr.ttf);
}

@font-face {
    font-family: RubikBold;
    src: url(../../Fonts/Rubik-Bold.ttf);
}

@font-face {
    font-family: RubikMedium;
    src: url(../../Fonts/Rubik-Medium.ttf);
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: #181818;
}

h1{
    font-family:RubikMedium;
    color:white;
    font-size: 120px;
    background: linear-gradient(150deg, rgba(27,143,161,1) 0%, rgba(32,213,136,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2{
    font-family:Gilroy;
    color:white;
    font-size: 40px;
}

h3{
    font-family: Cafe;
    color:white;
    font-size: 15px;
    line-height: 1.2;
}

h4{
    font-family: Gilroy;
    color:white;
    font-size: 20px;
    opacity: 0.5;
}

iframe{
    border-radius: 18px;
}

r.sticky{
    backdrop-filter: blur(8px);
    height:80px;
    background: rgba(18, 18, 18, 0.932);
    transition: 0.5s;
    right:2%;
}

.contentholder{
    width:100%;
    left:0;
    top:100%;
    background-color: #161616;
    padding-top:50px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    position: absolute;
}

.contentslogan{
    text-align: center;
}

.fa-solid{
    left:50%;
    transform: translate(-50%,0);
}

.ytvid{
    box-shadow: 0px 0px 70px rgb(43, 43, 43);
    top:50px;
    left:50%;
    transform: translate(-50%,0);
    position: relative;
    width:80%;
}

.first{
    width:100px;
    height:100px;
    position: absolute;
    bottom:0px;
    left:8%;
    animation-name: downup;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@keyframes downup {
    0%{
        transform: translate(0, -20px);
    }
    50%{
        transform: translate(0,0px);
    }
    100%{
        transform: translate(0,-20px);
    }
}

.polka-dot {
    width: 240px;
    height: 240px;
    background-image: radial-gradient(#fff 10%, transparent 11%),
      radial-gradient(#fff 10%, transparent 11%);
    background-size:30px 30px;
    background-position: 0 0, 30px 30px;
    opacity: 0.3;
    rotate: 30deg;
    left:-100px;
    top:-100px;
    background-repeat: repeat;
    position: absolute;
    z-index: 0;
  }