---
import BaseHead from '../components/BaseHead.astro';
import Caroussel from '../components/Caroussel.astro';
import Services from '../components/Services.astro';
import Header from '../components/HeaderMain.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en-us">
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" type="image/x-icon" href=" ./Images/Favicon.png">
        <title>Wii Link | A new online service for the Wii.</title>
        <meta name="description" content="WiiLink resurrects many region exclusive channels — including channels released only in Japan.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href=" ./CSS/hero.css">
        <link rel="stylesheet" href=" ./CSS/collapsible.css">
        <link rel="stylesheet" href=" ./CSS/media.css">
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    </head>
    <body>
        <Header/>
        <div class="hero">
            <div class="topimg">
                <img src="./Images/copyrightbg.png" width="100%">
                <div class="fade"></div>
            </div>
            <div class="herologoholder">
                <div class="herologo">
                    <h1 class="logo">Wii<b style="font-family:RubikMedium;">Link</b></h1>
                    <h2 class="tagline">A new online service for the Wii.</h2>
                </div>
            </div>

            <div class="heroinstallholder">
                <div class="heroinstall">
                    <h2 class="installtext" style="top:-23px; position:absolute; font-size:40px; z-index: 1;">Install it now</h2>
                    <img src=" ./Images/arrow.png" alt="arrow" class="installarrow" style="position:absolute; right:20px; top:50%; filter:invert(1); transform: rotate(90deg) translate(-50%,0); width:50px;">
                    <div class="installbg"></div>
                </div>
                <h3 class="readdocs"><u>Check out the guide</u></h3>
            </div>
          
            </div>
            <div class="first"><img src=" ./Images/downarrow.png" width="40px"></div>

        <div class="contentholder">
            <div class="polka-dot"></div>
			
            <h2 class="contentslogan"><b style="font-family: RubikBold;">Wii</b><b style="font-family: RubikMedium;">Link</b> resurrects many region exclusive channels. <br/> Including channels only released in Japan!</h2>
            
			<Services />

            <div class="bg">
            <h2 class="fa-solid fa-circle-question contentslogan" style="top:50px; position: relative;"><d style="font-family: Gilroy;"> Quick FAQ</d></h2>

            <div class="collapsibles">
                <button type="button" class="collapsible">Why WiiLink?</button>
                    <div class="content">
                        <p>WiiLink is the only service to bring back Japanese exclusive Wii channels after they were officially shut down. We've made Wii no Ma, the Demae Channel, and Digicam Print Channel functional once more. With our service, you can experience all of these once more on your Nintendo Wii - possibly for the first time.</p>
                    </div>

                    <button type="button" class="collapsible">Why does WiiLink exist?</button>
                    <div class="content">
                        <p>Without a replacement service for these channels, they would be lost to time, never to be seen again. However, thanks to our work, future generations of players can experience these channels again!</p>
                    </div>

                    <button type="button" class="collapsible">Is using WiiLink legal?</button>
                    <div class="content">
                        <p>Absolutely. We develop all of our channels without copyrighted code and material, and rely solely on what is provided within the channel and public knowledge. All code is written from the ground up. You will have no legal trouble from using our service.</p>
                    </div>

                    <button type="button" class="collapsible">Can the Demae Channel order real food?</button>
                    <div class="content">
                        <p>Yes!</p>
                    </div>
                    <h3 style="text-align: center; top:20px; position: relative;">Any other questions? If so, be sure to read our full FAQ!</h3>
            </div>
        </div>

            <h2 class="fa-solid fa-clapperboard contentslogan" style="top:50px; position: relative;"> <d style="font-family: Gilroy;"> Promotional Video</d></h2>
            <div class="promotionalvideo"><iframe class="ytvid" width="560" height="760" src="https://www.youtube-nocookie.com/embed/Y8gSqBd4oT0?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>

            <table id='table'>
                <!-- HEADING FORMATION -->
                <tr>
                    <th>GFG UserHandle</th>
                    <th>Practice Problems</th>
                    <th>Coding Score</th>
                    <th>GFG Articles</th>
                </tr>
      
                <script>
                    $(document).ready(function () {
      
                        // FETCHING DATA FROM JSON FILE
                        $.getJSON("gfgdetails.json", 
                                function (data) {
                            var student = '';
      
                            // ITERATING THROUGH OBJECTS
                            $.each(data, function (key, value) {
      
                                //CONSTRUCTION OF ROWS HAVING
                                // DATA FROM JSON OBJECT
                                student += '<tr>';
                                student += '<td>' + 
                                    value.GFGUserName + '</td>';
      
                                student += '<td>' + 
                                    value.NoOfProblems + '</td>';
      
                                student += '<td>' + 
                                    value.TotalScore + '</td>';
      
                                student += '<td>' + 
                                    value.Articles + '</td>';
      
                                student += '</tr>';
                            });
                              
                            //INSERTING ROWS INTO TABLE 
                            $('#table').append(student);
                        });
                    });
                </script>

			<Footer />
    </body>
</html>

<style>
	
.topimg{
    width:100%;
    top:0;
    left:0;
    overflow: hidden;
    position:absolute;
}

.first{
    width:100px;
    height:100px;
    position: absolute;
    bottom:0px;
    left:8%;
    animation-name: downup;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@keyframes downup {
    0%{
        transform: translate(0, -20px);
    }
    50%{
        transform: translate(0,0px);
    }
    100%{
        transform: translate(0,-20px);
    }
}

.bannerholder{
    right:8%;
    bottom:6%;
    display:flex;
    gap:8%;
    z-index: 1;
    transform: translate(-50%,0);
    z-index: 2;
    transition: 0.5s;
    position: fixed;
}

.banner{
    position:relative;
    filter: invert(1);
    transition: 0.5s;
}

.banner:hover{
    transform: translate(0,-10px);
    transition: 0.5s;
}

.bannername{
    text-align: center;
    font-family: Gilroy;
    color:black;
    opacity: 0;
    transform: translate(0,-10);
    transition: 0.5s;
}

.banner:hover .bannername{
    opacity: 1;
    transform: translate(0,0px);
    transition: 0.5s;
}

.fade{
    width:100%;
    height:100%;
    bottom:0;
    left:0;
    background: linear-gradient(180deg, rgba(255,227,156,0) 0%, rgba(24,24,24,1) 80%);
    z-index: 0;
    position: fixed;
}

.polka-dot {
    width: 240px;
    height: 240px;
    background-image: radial-gradient(#fff 10%, transparent 11%),
      radial-gradient(#fff 10%, transparent 11%);
    background-size:30px 30px;
    background-position: 0 0, 30px 30px;
    opacity: 0.3;
    rotate: 30deg;
    left:50px;
    top:80px;
    background-repeat: repeat;
    position: absolute;
    z-index: 0;
  }

  table {
            margin: 0 auto;
            font-size: large;
            background-color: white;
            height:400px;
            width:100%;
            position: inherit;
            border: 1px solid black;
        }
  
        h1 {
            text-align: center;
            color: #006600;
            font-size: xx-large;
            font-family: 'Gill Sans', 
                'Gill Sans MT', ' Calibri', 
                'Trebuchet MS', 'sans-serif';
        }
  
        td {
            background-color: #E4F5D4;
            border: 1px solid black;
        }
  
        th,
        td {
            font-weight: bold;
            border: 1px solid black;
            padding: 10px;
            text-align: center;
        }
  
        td {
            font-weight: lighter;
        }
</style>